@font-face {
    font-family: 'Zinnebeeld';
    src: url('/fonts/zinnebeeld_regular_web.eot');
    src: url('/fonts/zinnebeeld_regular_web.eot?#iefix') format('embedded-opentype'),
    url('/fonts/zinnebeeld_regular_web.woff') format('woff'),
    url('/fonts/zinnebeeld_regular_web.ttf') format('truetype'),
    url('/fonts/zinnebeeld_regular_web.svg#ZinnebeeldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZinnebeeldBold';
    src: url('/fonts/zinnebeeld_bold_web.eot');
    src: url('/fonts/zinnebeeld_bold_web.eot?#iefix') format('embedded-opentype'),
    url('/fonts/zinnebeeld_bold_web.woff') format('woff'),
    url('/fonts/zinnebeeld_bold_web.ttf') format('truetype'),
    url('/fonts/zinnebeeld_bold_web.svg#ZinnebeeldBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZinnebeeldItalic';
    src: url('/fonts/zinnebeeld_italic_web.eot');
    src: url('/fonts/zinnebeeld_italic_web.eot?#iefix') format('embedded-opentype'),
    url('/fonts/zinnebeeld_italic_web.woff') format('woff'),
    url('/fonts/zinnebeeld_italic_web.ttf') format('truetype'),
    url('/fonts/zinnebeeld_italic_web.svg#ZinnebeeldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bold {
  font-style: normal;
	font-weight: 700;
	font-family: 'ZinnebeeldBold';
}
strong {
	font-weight: normal;
	font-family: 'ZinnebeeldBold';
}
em {
	font-style: normal;
	font-family: 'ZinnebeeldItalic';
}
