@page {
  size: A4 landscape;
  margin: 5.9mm 0mm 0mm 9.5mm;
}

.CreateLabelsPage .label {
  background-color: #fff;
  page-break-inside: avoid;
  padding: 8mm;
  width: 139mm;
  height: 99.1mm;
  border: 1px solid #eee;
  float: left;
  position: relative;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.CreateLabelsPage .barcode {
  position: absolute;
  top: 8mm;
  right: 8mm;
  float: right;
  width: 50mm;
  height: 50mm;
}
.CreateLabelsPage .name {
  position: absolute;
  top: 8mm;
  left: 8mm;
  font-weight: bold;
  font-size: 18pt;
}
.CreateLabelsPage .product {
  position: absolute;
  bottom: 10mm;
  left: 8mm;
  width: 121mm;
  padding-top: 1mm;
  font-size: 9pt;
  border-top: 0.5pt solid #999;
}
.CreateLabelsPage .count {
  position: absolute;
  bottom: 36mm;
  left: 8mm;
  width: 60mm;
  padding-top: 1mm;
  font-size: 9pt;
  border-top: 0.5pt solid #999;
}
.CreateLabelsPage .boxid {
  position: absolute;
  bottom: 56mm;
  left: 8mm;
  width: 60mm;
  padding-top: 1mm;
  font-size: 9pt;
  border-top: 0.5pt solid #999;
}
