body {
  border: 1px solid #eee;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #009bd9;
}
.grid {
  margin: 0 auto;
}

.header {
  margin: 25px 25px;
  width: 100%;
}

.image {
  width: 100%;
  margin-bottom: 25px;
}
.logo {
  text-indent: -9999px;
  float: left;
  width: 150px;
  height: 25px;
  background: url("/images/boxwise-logo.png") no-repeat;
  background-size: contain;
}

.login {
  text-align: right;
  float: right;
}

.content {
  text-align: left;
  font-size: 120%;
  line-height: 140%;
  margin: 25px 25px;
  width: 100%;
  max-width: 910px;
}
